{% extends 'base.html' %}
{% block sp9 %}
	<div class="span9">
					<h1>
						硅谷精英添加
					</h1>
					<form id="edit-profile" class="form-horizontal"
                    action="{% url 'student:student_add' %}" method="post">{% csrf_token %}
						<fieldset>
							<legend>精英详情</legend>
							<div class="control-group">
								<label class="control-label" for="input01">姓名</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01"  name="stuname"/>
								</div>
							</div>
                            <div class="control-group">
								<label class="control-label" for="input01">班级</label>
								<div class="controls">
                                    <select name="stuban">
                                        {% for ban in all_bans %}
                                            <option >{{ ban.banname }}</option>
                                        {% endfor %}
                                    </select>
								</div>
							</div>
                            <div class="control-group">
								<label class="control-label" for="input01">年龄</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="stuage"/>
								</div>
							</div>

                            <div class="control-group">
								<label class="control-label" for="input01">性别</label>
								<div class="controls">
{#									<input type="text" class="input-xlarge" id="input01"  name="stugender"/>#}
                                    <select class="input-xlarge" id="input01"  name="stugender">
                                        <option value="girl">女</option>
                                        <option value="boy">男</option>
                                    </select>
								</div>
							</div>

                             <div class="control-group">
								<label class="control-label" for="input01">学号</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01"  name="stuuid"/>
								</div>
							</div>

							<div class="form-actions">
								<button type="submit" class="btn btn-primary">添加</button> <a class="btn" href="{% url 'student:student_all' %}">返回</a>
							</div>
						</fieldset>
					</form>
				</div>
{% endblock %}