{% extends 'base.html' %}
{% block sp9 %}
    <div class="span9">
					<h1>
						硅谷精英列表
					</h1>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>序号</th>
								<th>姓名</th>
								<th>班级</th>
								<th>年龄</th>
								<th>性别</th>
                                <th>学号</th>
                                <th>操作</th>
							</tr>
						</thead>
						<tbody>
                        {% for student in all_students %}
							<tr>
								<td>
									{{ forloop.counter }}
								</td>
								<td>
									{{ student.name }}
								</td>
								<td>
									{{ student.ban.banname }}
								</td>
								<td>
									{{ student.age }}
								</td>
                                <td>
									{{ student.gender }}
								</td>
                                <td>
									{{ student.studentid.stuid }}
								</td>
								<td>
									<a href="{% url 'student:student_del' student.id %}" class="view-link">删除</a>
                                    <a href="{% url 'student:student_update' student.id %}" class="view-link">修改</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>				
					<div class="pagination">
						<ul>
							<li class="disabled">
								<a href="#">&laquo;</a>
							</li>
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
{% endblock %}